<div class="row">
  <div class="col-auto">
    <h2>My Photo Album</h2>
  </div>
</div>

{{#if images}}
<div class="picture-album">

    {{#each images as |image|}}
        <div class="picture-frame">
            <a href="/images/{{image.path_name}}" target="_blank" class="col-md-3">
                <img src="/images/{{image.path_name}}">
            </a>
        </div>
        <div class="col-md-3 align-self-center">
          <button type="button" class="btn btn-danger delete custom-delete-btn" data-id="{{image.id}}" id="delete" >Delete</button>
        </div>
    {{/each}}

</div>

{{else}}
<p>Upload some images to start your Photo album!</p>
{{/if}}