<div class="picture-album">

    {{#each images as |image|}}

        <div class="picture-frame">
            <a href="/images/{{image.path_name}}" target="_blank" class="col-md-3">
                <img src="/images/{{image.path_name}}">
            </a>
            <div class="btn-holder">
              <button type="button" class="btn btn-danger delete" data-id="{{image.id}}" id="delete" >Delete</button>
            </div>
        </div>

    {{/each}}

</div>
